[submodule "vendor/duckstation"]
	path = vendor/duckstation
	url = https://github.com/stenzek/duckstation.git
[submodule "vendor/beetle-psx"]
	path = vendor/beetle-psx
	url = https://github.com/libretro/beetle-psx-libretro.git
